<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SHH Portal</title>
        <style>
            h1  {width: 100%;
                text-align: center;
                background-color:dodgerblue;
                color: white;
                font-family: "Segoe UI", Arial, sans-serif;}
            h2  {text-align: center;
                font-family: "Segoe UI", Arial, sans-serif;}
        </style>

        {{!-- bootstrap --}}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
      {{{body}}}
        </div>
    </body>
</html>