<h1>Sacred Heart Hospital Add Employee</h1>
        <br>
        <a href="/" class="btn btn-primary">Return to Home Page</a>
        <br>
        <br>
    
<form action="/patients" method="POST">
  First name:<br>
  <input type="text" name="firstname" placeholder="First Name">
  <br>
  Last name:<br>
  <input type="text" name="lastname" placeholder="Last Name">
  <br>
    DOB:<br>
  <input type="date" name="dob">
  <br>
    Chief Complaint:<br>
  <input type="text" name="chiefcomplaint" placeholder="Cheif Complaint">
  <br>
  Insured:<br>
  <select name="insured">
    <option value="yes">Yes</option>
    <option value="no">No</option>
  </select>
  <br>

  <input type="submit" value="Submit">
</form>
