<h1>Sacred Heart Hospital Department Management</h1>
<br>
<a href="/" class="btn btn-primary">Return to Home Page</a>
<br>
<br>
    
<form action="/createDepartment" method="POST">
  Department Name:<br>
  <input type="text" name="department" placeholder="Department">
  <br>
    Budget:<br>
  <input type="text" name="budget" placeholder="Budget">
    <br>
  <input type="submit" value="Submit">
</form>
