<h1>Sacred Heart Hospital Admin Portal</h1>
<h2>The <i>best</i> in the world at something!</h2>
<br>
{{!-- <button onclick="window.location.href='SHHViewAllPatients.html';"><strong>View Current Patients</strong></button> --}}
<a href="/patients" class="btn btn-primary">View Current Patients</a>
<br>
<a href="/createPatient" class="btn btn-primary">Create Patient</a>
<br>
<br>
{{!-- <button onclick="window.location.href='SHHViewAllEmployees.html';"><strong>View Current Employees</strong></button> --}}
<a href="/employees" class="btn btn-primary">View Current Employees</a>
<br>
<a href="/createEmployee" class="btn btn-primary">Create Employee</a>

<br>
<br>

{{!-- <button onclick="window.location.href='SHHViewAllTreatments.html';"><strong>View Current Treatments</strong></button> --}}
<a href="/treatments" class="btn btn-primary">View Current Treatment</a>
<br>
{{!-- <button onclick="window.location.href='SHHTreatmentManagement.html';"><strong>Create Treatment Listings</strong></button> --}}
<a href="/createTreatment" class="btn btn-primary">Create Treatment</a>
<br>


{{!-- don't know if these are needed --}}

{{!-- view all patient_treatments table --}}

{{!-- view all doctor_patients table --}}

{{!-- view all departments table --}}

{{!-- view specific department table --}}