<div class="container-fluid">
    <div class="jumbotron">
        <div id="pageHeader" class="container">
            <div class="page-header">
                <h1><strong>Sacred Heart Hospital Admin Portal</strong></h1>
            </div>
            <h2><strong>The <i>best</i> in the world at something!</strong></h2>
        </div>
    </div>
</div>

<div class="container">
    <a href="/patients" class="btn btn-primary"><strong>View Current Patients</strong></a>
    <!-- <a href="/views/SHHViewAllPatients.handlebars" class="btn btn-primary"><strong>Create/Edit Patient Listings</strong></a> -->
</div>

<div class="container">
    <a href="/employees" class="btn btn-primary"><strong>View Current employees</strong></a>
    <!-- <a href="/views/SHHViewAllEmployees.handlebars" class="btn btn-primary"><strong>Create/Edit Employee Listings</strong></a> -->
</div>

<div class="container">
    <a href="/treatments" class="btn btn-primary"><strong>View Current Treatments</strong></a>
    <!-- <a href="/views/SHHViewAllTreatments.handlebars" class="btn btn-primary"><strong>Create/Edit Treatment Listings</strong></a> -->
</div>
