<h1>Sacred Heart Hospital Admin Portal</h1>
<h2>The <i>best</i> in the world at something!</h2>
<br>
<a href="/patienthome" class="btn btn-primary">Main Patients Page</a>
<br>

<br>
<a href="/hostpitalManagment" class="btn btn-primary">Main Employees/Department Page</a>
<br>

<br>
<a href="/treatments" class="btn btn-primary">Main Treatment Page</a>

