
 <h1>Sacred Heart Hospital Patient Treatment List</h1>
 <h2>Treatments for {{name}}</h2>
        <br>
       <a href="/" class="btn btn-primary">Return to Portal</a>
       <br>
        <br>
        <button onclick="window.location.href='SHHTreatmentManagement.html';"><strong>Create/Edit Treatment Listings</strong></button>
        <br>
        <br>
        <table>
            <tr>
                <th>Treatment Name</th>
                <th>Insured Price</th>
                <th>Uninsured Price</th>
            </tr>
            {{#each results}}
            <tr>
                <td>{{this.Treatment_Type}}</td>
                <td>${{this.Insured_Price}}</td>
                <td>${{this.Uninsured_Price}}</td>
                {{!-- <td><button onclick="window.location.href='SHHViewIndividualTreatment.html';">View Details</button></td> --}}
            </tr>
            {{/each}}
        </table>