<html>
    <div class="container-fluid">
        <div class="jumbotron">
            <div id="pageHeader" class="container">
                <div class="page-header">
                    <h1><strong>Sacred Heart Hospital Patient List</strong></h1>
                </div>
                <h2><strong>View all current patients</strong></h2>
            </div>
        </div>>
    </div>
    
    <div class="container">
        <a href="/" class="btn btn-primary">Return to SHH Portal</a>    
    </div>

    <div class="container">
        <h1>Add New Patient</h1>
        <form id="addPatient" action="/patients" method="post">
            First name: <input type="text" name="First_Name"><br>
            Last name: <input type="text" name="Last_Name"><br>
            Date of Birth: <input type="date" name="DOB"><br>
            Chief Complaint: <input type="text" name="Chief_Complaint"><br>
            Insured: <select name="Insured">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <input type="submit" value="Submit">
        </form>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table class="table table-bordered table-striped table-hover">
                    <tr>
                        <th class="text-center">Patient Name</th>
                        <th class="text-center">Chief Complaint</th>
                        <th></th>
                    </tr>
                    {{#each patients}}
                    <tr>
                        <td class="text-center">{{First_Name}} {{Last_Name}}</td>
                        <td class="text-center">{{Chief_Complaint}}</td>
                        <td class="text-center"><a class="btn btn-info" href="/patients/id={{ID}}">View Details</a></td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
</html>
