<h1>Sacred Heart Hospital Patient List</h1>
        <br>
        <a href="/" class="btn btn-primary">Return to Portal</a>
        <br>
        <br>
        <button onclick="window.location.href='SHHPatientManagement.html';"><strong>Create/Edit Patient Listings</strong></button>
        <br>
        <br>
        <table>
            <tr>
                <th>Patient Name</th>
                <th>Chief Complaint</th>
            </tr>
            {{#each results}}
            <tr>
                <td>{{this.First_Name}} {{this.Last_Name}}</td>
                <td>{{this.Chief_Complaint}}</td>
                {{!-- <td><button onclick="window.location.href='SHHViewIndividualPatient.html';">View Details</button></td> --}}
                <td><a href="/patients/id={{this.ID}}" class="btn btn-info">View Details</a></td>
            </tr>
            {{/each}}
        </table>